@mixin iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
}

@mixin icon-big {
  color: #fff;
  background: #333;
  font-size: 24px;
  padding: 6px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  float: left;
  line-height: 32px;
}

@mixin icon-medium {
  color:#fff;
  background: teal;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
  width: 26px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -22px;
}

@mixin icon-small {
  color: #333;
  display: inline-block;
  padding-right: 3px;
}

@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}

.icon-weibo:before {
  content: "\e600";
  @include iconfont;
}

.icon-mail:before {
  content: "\e602";
  @include iconfont;
}

.icon-chat:before {
  content: "\e601";
  @include iconfont;
  @include icon-big;
  font-size: 26px;
}

.icon-star:before {
  content: "\e606";
  @include iconfont;
  font-size: 20px;
  padding-right: 3px;
}

.icon-wechat:before {
  content: "\e601";
  @include iconfont;
}

.icon-book:before {
  content: "\e607";
  @include iconfont;
  @include icon-big;
}

.icon-gears:before {
  content: "\e608";
  @include iconfont;
  @include icon-medium;
}

.icon-cloud:before {
  content: "\e609";
  @include iconfont;
  @include icon-medium;
  font-size: 29px;
}

.icon-gear:before {
  content: "\e60a";
  @include iconfont;
  @include icon-small;
}

.icon-gear-big:before {
  content: "\e60a";
  @include iconfont;
  @include icon-big;
}

.icon-rocket:before {
  content: "\e60b";
  @include iconfont;
  @include icon-big;
  font-size: 26px;
}

.icon-github:before {
  content: "\e603";
  @include iconfont;
}

.icon-blog:before {
  content: "\e604";
  @include iconfont;
}

.icon-bag:before {
  content: "\e60c";
  @include iconfont;
  @include icon-medium;
  font-size: 26px;
}

.icon-wrench:before {
  content: "\e60d";
  @include iconfont;
  @include icon-big;
  font-size: 28px;
}

.icon-flags:before {
  content: "\e60f";
  @include iconfont;
  @include icon-medium;
}

.icon-hat:before {
  content: "\e610";
  @include iconfont;
  @include icon-small;
}

.icon-trophy:before {
  content: "\e60e";
  @include iconfont;
}
