@import '_include-media.scss';
@import 'components/aside.scss';
@import 'components/header.scss';
@import 'components/content.scss';
@import 'components/footer.scss';

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 20px;
}

body {
  background: #E0E0E0;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a,strong {
  color:teal;
}

strong {
  font-weight: 700;
}

.container {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 2px 2px 5px;
  @include media(">=desktop") {
    width: 970px;
  }
  @include media(">=tablet", "<=desktop") {
    width: 750px;
  }
  @include media("<=phone") {
    padding: 5px 0px;
    margin-top: 0px;
    box-shadow: 0px 0px 0px;
  }
  @include media("print") {
    margin-top: 0px;
    box-shadow: 0px 0px 0px;
  }
}