@import 'include-media';
$black:#333;
$white:#fff;
$blue:#3F51B5;
* {
  box-sizing: border-box;
}

body {
  background-color: #E0E0E0;
}

header {
  background-color: $blue;
  color: $white;
  padding: 30px 45px;
  @include media("<=phone") {
    padding: 30px 10px;
  }
  .title {
    margin: 0;
    font-size: 72px;
    text-align: center;
    span {
      display: block;
      font-size: 20px;
    }
    @include media("<=phone") {
      font-size: 50px;
      span {
        font-size: 16px;
      }
    }
  }
}

.container {
  margin: 0 auto;
  box-shadow: 2px 2px 5px;
  @include media(">=desktop") {
    width: 980px;
  }
  @include media(">=tablet", "<=desktop") {
    width: 750px;
  }
  @include media("<=phone") {
    padding-bottom: 10px;
    margin-top: 0px;
    box-shadow: 0px 0px 0px;
  }
}

main {
  background-color: $white;
}

input {
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  padding: 10px 0;
  margin: 4px 0;
}

form {
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
}

#primaryInfo {
  padding-top: 5px;
}

#education {
  button {
    width: 100%;
    background: $blue;
  }
}

button {
  border: none;
  color: $white;
  border-radius: 5px;
  height: 30px;
  @include media(">=desktop") {
    height: 40px;
  }
}

#experience {
  button {
    width: 100%;
  }
  .add-task {
    background: $blue;
  }
  .add-project {
    background: teal;
    border-radius: 0px;
  }
}

.add-cert {
  width: 100%;
  background: teal;
  border-radius: 0px;
}

#commit {
  width: 100%;
  background-color: #4CAF50;
  border-radius: 0px;
  margin-top: 20px;
  height: 60px;
}

footer {
  margin: 15px 6px;
  a {
    text-decoration: none;
    color: teal;
    font-weight: 700;
  }
  p {
    text-align: center;
  }
}