doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= name
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/public/resume/dist/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/public/resume/dist/css/resume.css')
    link(rel='stylesheet', href='/public/resume/dist/iconfont/iconfont.css')
  body
    if aside
      aside
        ul
          each val in aside
            li
              a(href=val.href)= val.content
    .container
      block header
      block content
      article.content
        article.column-6
          if education
            block education
          if language
            block language
          if experience
            block experience
        article.column-6.column
          block skills
    footer
      p
        | Powered by 
        a(href='https://joyeecheung.github.io/resume/') Joyee Cheung
        | . MIT License.