@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.icon-weibo:before {
  content: "\e600";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px; }

.icon-mail:before {
  content: "\e602";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px; }

.icon-chat:before {
  content: "\e601";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #fff;
  background: #333;
  font-size: 24px;
  padding: 6px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  float: left;
  line-height: 32px;
  font-size: 26px; }

.icon-star:before {
  content: "\e606";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  font-size: 20px;
  padding-right: 3px; }

.icon-wechat:before {
  content: "\e601";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px; }

.icon-book:before {
  content: "\e607";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #fff;
  background: #333;
  font-size: 24px;
  padding: 6px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  float: left;
  line-height: 32px; }

.icon-gears:before {
  content: "\e608";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #fff;
  background: teal;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
  width: 26px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -22px; }

.icon-cloud:before {
  content: "\e609";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #fff;
  background: teal;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
  width: 26px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -22px;
  font-size: 29px; }

.icon-gear:before {
  content: "\e60a";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #333;
  display: inline-block;
  padding-right: 3px; }

.icon-gear-big:before {
  content: "\e60a";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #fff;
  background: #333;
  font-size: 24px;
  padding: 6px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  float: left;
  line-height: 32px; }

.icon-rocket:before {
  content: "\e60b";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #fff;
  background: #333;
  font-size: 24px;
  padding: 6px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  float: left;
  line-height: 32px;
  font-size: 26px; }

.icon-github:before {
  content: "\e603";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px; }

.icon-blog:before {
  content: "\e604";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px; }

.icon-bag:before {
  content: "\e60c";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #fff;
  background: teal;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
  width: 26px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -22px;
  font-size: 26px; }

.icon-wrench:before {
  content: "\e60d";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #fff;
  background: #333;
  font-size: 24px;
  padding: 6px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  float: left;
  line-height: 32px;
  font-size: 28px; }

.icon-flags:before {
  content: "\e60f";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #fff;
  background: teal;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
  width: 26px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -22px; }

.icon-hat:before {
  content: "\e610";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #333;
  display: inline-block;
  padding-right: 3px; }

.icon-trophy:before {
  content: "\e60e";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px; }

.icon-phone:before {
  content: "\e611";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px; }
