header {
  background-color: #333;
  padding: 30px 45px;
  overflow: hidden;
  color: #fff;
  @include media("<tablet") {
    padding: 30px 10px;
  }
  @include media("print") {
    padding: 30px 45px;
  }
}

.qrcode {
  float: left;
  margin: 0;
  img {
    width: 130px;
    height: 130px;
  }
  @include media("<=desktop") {
    display: none;
  }
  @include media("print") {
    display: block;
    margin-top: 5px;
  }
}

.title {
  float: right;
  text-align: right;
  h1 {
    padding: 5px 0;
    margin: 5px 0;
    font-size: 72px;
    line-height: 1;
  }
  h2 {
    margin: 5px 0;
    padding: 5px 6px;
    font-size: 20.8px;
    font-weight: 400;
  }
  @include media("<tablet") {
    float: none;
    text-align: center;
    h2 {
      padding: 0px 6px;
    }
  }
  @include media("print") {
    float: right;
    text-align: right;
  }
}

address {
  overflow-y: hidden;
}

.contacts {
  float: left;
  padding-left: 16px;
  font-size: 18px;
  li {
    line-height: 1.4;
    font-style: initial;
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-out;
    &:hover {
      color: #a3d3d1;
    }
  }
  @include media("<=desktop") {
    margin-top: 5px;
    li {
      line-height: 1.6;
    }
  }
  @include media("print") {
    margin-top: 0px;
    line-height: 1.4;
  }
}
