doctype html
html(lang='zh-cn')
  head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css')
    link(rel='stylesheet', type='text/css', href='./css/resume.css')
    link(rel='stylesheet', type='text/css', href='./iconfont/iconfont.css')
  body
    if aside
      aside
        ul
          each val in aside
            li
              a(href=val.href target="_blank")= val.content
    .container
      block header
      block content
      article.content
        article.column-6
          if education
            block education
          if language
            block language
          if experience
            block experience
        article.column-6.column
          block skills
    footer
      p
        a(href='https://github.com/Lxxyx/LxxyxResume') LxxyxResume Generator 
        | is inspired by 
        a(href='javascript:void') Joyee Cheung
        | . MIT License.
