@import '_include-media.scss';
@import 'components/aside.scss';
@import 'components/header.scss';
@import 'components/content.scss';
@import 'components/footer.scss';

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h3 {
  font-size: 20px;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', 'PingFang SC', 'Noto Sans', 'Noto Sans CJK SC', 'Microsoft YaHei', '微软雅黑', sans-serif;
  background: #e0e0e0;
  -webkit-font-smoothing: antialiased;

  @include media('print') {
    background-color: #ffffff;
  }
}

a,
strong {
  color: teal;
}

strong {
  font-weight: 700;
}

.container {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 2px 2px 5px;

  @include media('>=desktop') {
    width: 970px;
  }

  @include media('>=tablet', '<=desktop') {
    width: 750px;
  }

  @include media('<=phone') {
    margin-top: 0;
    padding: 5px 0;
    box-shadow: 0 0 0;
  }

  @include media('print') {
    margin-top: 0;
    box-shadow: 0 0 0;
  }
}
